html {
    height: 100vh;
    background-color: rgb(249, 210, 210);
}

#container {
    height: 200px;
    width: 400px;
    background-color: aquamarine;
}

.products {
    height: 100px;
    width: 200px;
    background-color: rgb(225, 253, 133);
}

div p {
    color: rgb(22, 4, 4);
    font-size: 80px;
}

.btn {
    padding: 12px;
    font-size: 44px;
    display: none;
}

.btn:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.cadastro {
    width: 200px;
    height: 40px;
    border-width: 12px;
    border-color: aquamarine;
}

.cadastro:focus {
    border-color: rgb(250, 145, 96);
}

.content-box {
    box-sizing: content-box;
    width: 300px;
    height: 20px;
    padding: 20px;
    border: 20px;
    background-color: palevioletred;
}

.border-box {
    box-sizing: border-box;
    width: 300px;
    height: 20px;
    padding: 20px;
    background-color: rgb(5, 87, 195);
}