* {
 margin: 0;
 padding: 0;
}

#home {
    background-color: aliceblue;
    width: 200px;
    margin-left: 45%;
    height: 200px;
    padding: 20px;
    /* box-sizing: content-box; */
    box-sizing: border-box;
}

#imagem {
    height: 200px;
    width: 200px;
    /* display: none; */
    /* background-repeat: repeat; */
    background-size: cover;
    background-image: url("https://img.olympics.com/images/image/private/t_s_16_9_g_auto/t_s_w1460/f_auto/primary/dhlronz2c4rsv9ey4nad");
}

h1 {
    color:violet;
    text-decoration: underline;
}

h1 + p {
    color: white;
}

div p {
    color: white;
}

#home > p {
    color: red;
}

.home-content {
    background-color: chocolate;
}

.home-content > button:hover {
    color: white;
    cursor: pointer;
    background-color: #4b4a4a;
}

.input-senha {
    background-color: #126148;
    border-width: 2px;
    border-color: black;
}

.input-senha:focus {
    background-color: #eef7f4;
    border-color: #09f8b8;
}