* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}

html {
    height: 100vh;
    background-color: rgb(249, 152, 152);
}

#container {
    height: 200px;
    width: 320px;
    background-color: azure;
}

.btn {
    width: 86px;
    height: 24px;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    text-decoration: underline;
}

div ~ p {
    color: brown;
    font-weight: bold;
    text-align: center;
}

.input-name {
    border: 2px solid rgb(2, 105, 216);
}

.input-name:focus {
    background-color: rgb(17, 143, 197);
}

#section-dois {
    height: 200px;
    width: 320px;
    padding: 14px 8px 12px 5px;
    box-sizing: border-box;
    border: 6px solid red;
    background-color: rgb(28, 176, 176);
}

.display-block {
    background-color: blanchedalmond;
}

.display-inline {
    display: none;
    background-color: rgb(81, 245, 114);
}